/* This is the css styling for the marker used on the map component */

.marker {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    background-color: #000;
    border: 1px solid #fff;
    border-radius: 100%;
    user-select: none;
    transform: translate(-50%, -50%);
    z-index: 100000;
  }

  